/* General Styles */

html {
  font-size: 16px;
}
body {
  font-size: 1em;
  font-family: 'Montserrat',sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Libre Baskerville', serif;
}

h2 {
  font-family: 'Libre Baskerville', serif;
}

h3 {
  font-family: 'PT Sans',sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.full-width {
  width: 90%;
  margin: 50px auto;
}

.work {
  box-sizing: border-box;
}

/* -------- Mobile Styles --------*/

/* Header code */
header {
  display: flex;
  justify-content: center;
  justify-items: center;
}
header h1 {
  font-size: 2em;
  font-weight: bolder;
  line-height: normal;
  margin-bottom: 0;
  padding-top: 20px;
  letter-spacing: inherit;
  text-align: left;
}
header span {
  color: #ff654a;
}

nav {
  font-size: .75em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 0;
  padding: 5px;
} 

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
nav ul li {
  padding: 5px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #2d2c2d;
  font-weight: bolder;
  font-size: 1.5em;
} 
header p {
  font-size: 1.15em;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ff654a;
  color: #ffffff;
}

#about img{
  width: 90%;
  max-width: 300px;
  border: 6px solid #ffffff;
}

#about p {
  font-size: 1.15em;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  margin: 45px;
} 

/* Portifolio code */
#portifolio {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;
}  

.full-width {
  width: 100%;
  overflow: auto;
}
#portifolio h2 {
  text-align: center;
  padding-top: 5px;
  font-size: 2em;

}

.work {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;
} 

#portifolio img { 
  max-width: 100%;
  height: 180px;
  border: 2px solid gray; 
}  

/* Contact code */
#contact {
  background-color: #ff654a;
  color: #ffffff;
  padding: 0;
  width: 100%;
  flex-flow: column;
}
#contact h2 {
  font-size: 2em;
  font-weight: bold;
}
#contact .contact-details {
  margin: 8px 79px 3px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;
}
#contact a {
  color: #ffffff;
  text-decoration: none;
  text-decoration: underline;
}
#myButton {
  display: none;
  bottom: 20px; 
  right: 30px; 
  color: white;
  cursor: pointer; 
  padding: 5px;
  border-radius: 8px; 
  border: 2px solid white;
  background-color: #ff654a; 
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
  position: fixed; 
}
#myButton:hover {
  background-color: teal;
} 

.footer {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
}

@media only screen and (min-width: 768px) {
/* Tablet styles here */
/* General styles */
.full-width {
  max-width: 640px;
  margin: 50px 0;
}  

/* Header code */
header {
  justify-content: space-around;
}
header nav {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  width: 100%;
  font-size: 1em;
}

header nav ul {
  justify-content: flex-end;
  flex-flow: row wrap;
}
header .intro-details {
  display: flex;
  align-items: flex-end;
  text-align: left;
  font-size: 1.25em;
}
header .main-title {
  display: flex;
  justify-content: flex-start;
}
header p {
  font-size: 1.5em;
}
header h1 {
  font-size: 3em;
}

/* About code */
#about .content-wrapper {
  width: 100%
}
/* Portifolio code */
#portifolio {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.full-width {
  width: 100%;
  padding: 50px;
  margin: 50px 0;
}

.work {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-flow: row wrap;
  max-width: 100%;
}

#portifolio .third-width {
  flex-flow: row wrap;
  width: 45%;
}

/* Contact code */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;

}
#contact .third-width {
  width: 30%;
}

#contact .full-width{
  width: 100%;
}

#contact .contact-details {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 0;
}

@media only screen and (min-width: 1200px){
/* Desktop styles here */
/* General styles */
.full-width {
  max-width: 960px;
}

/* Header code */
header h1 {
  font-size: 3em;
}
header p {
font-size: 2.5em;
}

/* Portifolio code */
#portifolio {
  display: flex;  
  justify-content: center; 
}  

#portifolio .work-description {
  display: flex;
  justify-content: center;
  /* max-width:  */
}

#portifolio img {
  max-width: 100%;
  height: 290px;
  border: 2px solid gray; 
}